@charset "UTF-8";
.mensaje-colabora p {
  font-size: 2.5vh;
  margin: 2.5vh 6vh;
  padding: 2vh 4vh;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  top: 0;
}

nav {
  background: linear-gradient(179deg, rgb(124, 83, 51) 0%, rgb(180, 139, 98) 50%, rgb(221, 177, 123) 100%);
  padding: 1.5vh;
}
nav div a img {
  width: 4rem;
  border-radius: 50%;
}
nav div .navbar-toggler {
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid white 2px;
  padding: 1vh;
}
nav div .navbar-toggler:focus {
  border: solid white 2px;
}
nav div div ul li .nav-link {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 250;
  margin: 2vh;
  margin-left: 3vh;
  padding: 1vh;
  transition: all 0.13s ease-in-out !important;
}
nav div div ul li .nav-link:hover, nav div div ul li .nav-link:focus {
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.navbar-collapse.show {
  background: linear-gradient(179deg, rgb(124, 83, 51) 0%, rgb(180, 139, 98) 50%, rgb(221, 177, 123) 100%);
  border-radius: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: rgb(255, 255, 255) --bs-navbar-active-color;
  font-weight: 250;
}

h1 {
  color: rgb(124, 83, 51);
  text-align: center;
  font-size: 10vh;
  font-weight: 400;
  margin: 7vh 2vh 5vh 2vh;
}

.hero,
h2 {
  color: rgba(22, 21, 21, 0.984);
  font-size: 4vh;
  font-weight: 500;
  text-align: center;
}

.descripcion {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}
.descripcion p {
  border: solid rgb(180, 139, 98) 2px;
  border-radius: 12px;
  color: rgba(22, 21, 21, 0.984);
  font-size: 2.5vh;
  font-weight: 400;
  padding: 3%;
  margin: 2rem 0;
  text-align: center;
}

.mensual div,
.campaña div,
.historia div {
  width: 40%;
  text-align: justify;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mensual div h3,
.campaña div h3,
.historia div h3 {
  color: rgba(22, 21, 21, 0.984);
  font-size: 4vh;
  font-weight: 500;
}
.mensual div p,
.campaña div p,
.historia div p {
  font-size: 2.3vh;
  margin: 5px;
  color: rgb(85, 83, 83);
  padding: 1vh;
}
.mensual div a,
.campaña div a,
.historia div a {
  font-weight: 700;
  font-size: 1.8vh;
  color: rgb(124, 83, 51);
  padding: 1vh;
  transition: all 0.3s ease;
}
.mensual div a:hover,
.campaña div a:hover,
.historia div a:hover {
  font-weight: 700;
  font-size: 1.8vh;
  color: rgb(255, 255, 255);
  background-color: rgb(124, 83, 51);
  border-radius: 14px;
}

.mensual,
.historia {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8%;
  margin-top: 5%;
}

.campaña {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 8%;
}

.img-articulo {
  width: 30%;
  height: 250px;
  border-radius: 20px;
  padding: 1vh;
  margin: 3vh;
}

.donaciones {
  text-align: center;
}
.donaciones h2 {
  font-size: 5vh;
  color: rgb(124, 83, 51);
}
.donaciones p {
  font-size: 2.5vh;
  margin: 2.5vh 6vh;
  padding: 2vh 4vh;
  text-align: center;
}
.donaciones ul li {
  list-style: none;
  text-align: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: 1fr;
  gap: 2rem;
  padding: 2rem;
}

.card {
  position: relative;
  border: solid rgb(180, 139, 98) 1px;
  width: 100%;
  max-width: 14rem;
}
.card .card-img-top {
  width: 100%;
  height: 50%;
  padding: 10px;
  border-radius: 14px;
  transition: transform 0.3s ease;
}
.card .card-img-top:hover {
  transform: scale(1.2);
}

.card-body {
  text-align: center;
}
.card-body .card-text {
  font-size: 12px;
}
.card-body .btn-primary {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.card-body .btn-primary,
.mb-3 .btn-primary {
  /*del inspeccionador (propiedades que estaba aplicando bootstrap al color del boton)*/
  --bs-btn-color: white;
  --bs-btn-bg: #7C5333;
  --bs-btn-border-color: #7C5333;
  --bs-btn-hover-color: #7C5333;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: #7C5333;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: #7C5333;
  --bs-btn-active-border-color: #7C5333;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: #7C5333;
  --bs-btn-disabled-border-color: #7C5333;
}

.formularios {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.formularios .was-validated {
  font-family: "Open Sans", sans-serif;
  max-width: 450px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: solid rgb(124, 83, 51) 1px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(124, 83, 51);
}
.formularios .was-validated .btn {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  position: relative;
  bottom: -10px;
}
.formularios .img-logo2 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 2s;
  transform: translateY(400px);
}

@keyframes rebote {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-20px);
  }
}
.rebota {
  animation: rebote 2s ease forwards;
  animation-iteration-count: 2;
}

.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
  border-color: rgba(22, 21, 21, 0.984);
}

.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: rgb(124, 83, 51);
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: rgb(124, 83, 51);
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
  border-color: rgb(124, 83, 51);
  box-shadow: none;
}

.invalid-feedback {
  color: rgba(169, 53, 53, 0.898);
  font-style: italic;
}

footer {
  background: rgb(124, 83, 51);
  background: linear-gradient(179deg, rgb(124, 83, 51) 0%, rgb(180, 139, 98) 50%, rgb(221, 177, 123) 100%);
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  padding: 2vh 3vh;
}
footer p {
  color: rgb(255, 255, 255);
  font-size: 2.5vh;
  font-weight: 600;
  padding-top: 2vh;
  padding-left: 2vh;
}
footer div a img {
  width: 2.8em;
  padding: 1vh;
}

@media (max-width: 660px) {
  .img-logo {
    width: 3.5rem;
  }
}
@media (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}
@media (max-width: 1100px) {
  main h1 {
    font-size: 6vh;
  }
  .hero p,
  main h2 {
    font-size: 3vh;
  }
  .descripcion p {
    font-size: 2.4vh;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 960px) {
  .hero p {
    font-size: 2.8vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .descripcion p {
    font-size: 2.2vh;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 650px) {
  .hero p {
    font-size: 2.5vh;
    margin-left: 5%;
    margin-right: 5%;
  }
  .descripcion p {
    font-size: 2vh;
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (max-width: 450px) {
  main h1 {
    font-size: 4.5vh;
  }
  main h2 {
    font-size: 2.8vh;
  }
  .descripcion p {
    text-align: justify;
  }
  .campaña div h3, .historia div h3, .mensual div h3 {
    text-align: center;
    font-size: 3vh;
  }
}
@media (max-width: 1100px) {
  main section p {
    font-size: 2vh;
    margin: 4px;
  }
}
@media (max-width: 850px) {
  .mensual,
  .campaña,
  .historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  .mensual div,
  .campaña div,
  .historia div,
  .img-articulo {
    width: 90%;
    max-width: 500px;
  }
}
@media (max-width: 660px) {
  .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
}
@media (max-width: 850px) {
  .formularios {
    display: flex;
    flex-direction: column !important;
    align-items: center !important;
  }
}
@media (max-width: 850px) {
  .mensaje-colabora p {
    font-size: 2.5vh;
    margin: 2vh 4vh;
    padding: 1.5vh 2vh;
  }
}
@media (max-width: 850px) {
  .mensaje-colabora p {
    text-align: justify;
  }
}
@media (max-width: 850px) {
  .donaciones h2 {
    font-size: 3vh;
  }
  .donaciones p,
  .donaciones ul {
    margin: 2vh;
    text-align: center;
  }
}
@media (max-width: 900px) {
  footer {
    padding: 1vh 1.5vh;
  }
  footer p {
    font-size: 2vh;
    padding-top: 1vh;
    padding-left: 1vh;
  }
  footer a img {
    width: 2.2em;
    padding: 1vh;
  }
}
@media (max-width: 650px) {
  footer {
    padding: 0.7vh 1.2vh;
  }
  footer p {
    font-size: 2vh;
    padding-top: 0.7vh;
    padding-left: 0.7vh;
  }
  footer a img {
    width: 2em;
    padding: 0.7vh;
  }
}

/*# sourceMappingURL=estilos.css.map */
