* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*!--------header--------*/

header {
    top: 0;
}

header nav {
    background-image: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    height: 170px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    padding: 0vh 1vh 0vh 1vh;
}

@media (max-width: 1050px) {
    .nav-links {
        display: flex;
        justify-content: start;
    }

    .a-logo {
        display: none;
    }

    .img-logo {
        display: none;
    }
}

@media (max-width: 990px) {
    header nav ul {
        display: flex;
        flex-wrap: wrap;
    }

}

.a-logo {
    width: 10vh;
    margin-left: 1.5vh;
}

.img-logo {
    border-radius: 50%;
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1vh;
}

header nav ul li {
    list-style: none;
    padding: 0.5vh;
    margin: 2vh;
}

@media (max-width: 768px) {
    header nav {
        background-image: url(../img/header.jpg);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    header nav ul li {
        padding: 0.3vh;
        margin: 1vh;
    }
}

@media (max-width: 600px) {
    header nav ul {
        margin: 0;
        padding: 0;
    }
}

header nav ul li a {
    text-decoration: none;
    color: #8f591f;
    background-color: #ffffffef;
    font-size: 2.5vh;
    font-weight: 500;
    border-radius: 6px;
    padding: 0.8vh 1.2vh;
    margin: 2vh 2vh;
    border: 0.5px solid transparent;
    transition: all 0.15s ease-in-out
}


header nav ul li a:hover {
    text-decoration: underline;
    color: #ae865b;
    background-color: whitesmoke;
    font-weight: 600;
    border-color: #8f591f;
    border-radius: 8px;
}

/*!--------main--------*/

main {
    text-align: center;
}

main h1 {
    color: #8f591f;
    text-align: center;
    font-size: 10vh;
    font-weight: 400;
    margin: 5vh 2vh 0vh 2vh;
}

main h2,
.hero p {
    color: black;
    font-size: 4vh;
    font-weight: 500;
    margin: 4vh 2vh 7vh;
    text-align: center;
}

.descripcion p {
    color: #161515fb;
    font-size: 2.5vh;
    font-weight: 400;
    margin: 3% 8% 3% 8%;
    text-align: center;
}

main section h3 {
    color: #161515fb;
    font-size: 4vh;
    font-weight: 500;
}

@media (max-width: 1100px) {
    main h1 {
        font-size: 6vh;
    }

    .hero p,
    main h2,
    main section h3 {
        font-size: 3vh;
    }

    .descripcion p {
        font-size: 2.4vh;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media (max-width: 960px) {
    .hero p {
        font-size: 2.5vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .descripcion p {
        font-size: 2.2vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 650px) {
    main h1 {
        font-size: 4vh;
    }

    .hero p {
        font-size: 2.2vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .descripcion p {
        font-size: 2vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 450px) {

    .hero p,
    .descripcion p {
        text-align: justify;
    }

    main section h3 {
        font-size: 2.8vh;
    }
}

main section p {
    font-size: 2.3vh;
    margin: 5px;
    color: rgb(85, 83, 83);
}

@media (max-width: 1100px) {
    main section p {
        font-size: 2vh;
        margin: 4px;
    }
}

main section a {
    font-weight: 700;
    font-size: 1.8vh;
    color: #8f591f;
}

main section a:hover {
    font-weight: 700;
    font-size: 1.8vh;
    color: white;
    background-color: #8f591f;
    border-radius: 14px;
}


.img-articulo {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    padding: 1vh;
    margin: 3vh;
}

.mensual,
.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    margin-top: 5%;
}

.mensual div,
.historia div {
    display: flex;
    width: 40%;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.campaña {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.campaña div {
    display: flex;
    width: 40%;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.mensual p,
.campaña p,
.historia p {
    padding: 1vh;
}

@media (max-width: 850px) {

    .mensual,
    .campaña,
    .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .mensual div,
    .campaña div,
    .historia div,
    .img-articulo {
        width: 90%;
        max-width: 500px;
    }
}

/*?--------grilla--------*/

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
}

@media (max-width: 660px) {
    .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

.card {
    position: relative;
}

.card-img-top {
    width: 100%;
    height: 60%;
    padding: 10px;
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.2);
}

.card-body {
    text-align: center;
}

.card-text {
    font-size: 12px;
}

.galeria .card .btn {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
}

.card-body .btn-primary,
.mb-3 .btn-primary {
    /*del inspeccionador (propiedades que estaba aplicando bootstrap al color del boton)*/
    --bs-btn-color: #fff;
    --bs-btn-bg: #9c652b;
    --bs-btn-border-color: #9c652b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9c652b;
    --bs-btn-hover-border-color: #9c652b;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9c652b;
    --bs-btn-active-border-color: #9c652b;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #b77936;
    --bs-btn-disabled-border-color: #b77936;
}

/*?--------formulario para publicar--------*/

.formularios {
    display: flex;
    flex-direction: row;
}

.was-validated {
    font-family: "Open Sans", sans-serif;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(115, 64, 20, 0.181);
}

/*Para modificar propiedades de Bootstrap*/
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
    border-color: black
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
    color: #8f591f;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #9c652b;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #9c652b;
    box-shadow: none;
}

.invalid-feedback {
    color: rgba(169, 53, 53, 0.898);
    font-style: italic;
}


/*?------Página Colaborá------*/

.mensaje-colabora p {
    font-size: 2.5vh;
    margin: 2.5vh 6vh;
    padding: 2vh 4vh;
    text-align: center;
}

@media (max-width: 850px) {
    .mensaje-colabora p {
        font-size: 2vh;
        margin: 2vh 4vh;
        padding: 1.5vh 2vh;
    }
}

@media (max-width: 850px) {
    .mensaje-colabora p {
        text-align: justify;
    }
}

.donaciones h2 {
    font-size: 5vh;
    color: #8f591f;
}

@media (max-width: 850px) {
    .donaciones h2 {
        font-size: 3vh;
    }

    .donaciones p {
        margin: 2vh;
    }
}


.donaciones ul li {
    list-style: none;
}

/*!--------footer--------*/

footer {
    background-color: #8f591f;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 3vh;
}

footer a img {
    width: 2.8em;
    padding: 1vh;
}

footer p {
    color: #faebd7;
    font-size: 2.5vh;
    font-weight: 600;
    padding-top: 2vh;
    padding-left: 2vh;
}


@media (max-width: 900px) {
    footer {
        padding: 1vh 1.5vh;
    }

    footer a img {
        width: 2.2em;
        padding: 1vh
    }

    footer p {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 1vh;
    }
}

@media (max-width: 650px) {
    footer {
        padding: 0.7vh 1.2vh;
    }

    footer a img {
        width: 2em;
        padding: 0.7vh
    }

    footer p {
        font-size: 2vh;
        padding-top: 0.7vh;
        padding-left: 0.7vh;
    }
}