/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
} */

/*!--------header--------*/
/* header {
    top: 0;
}

.navbar {
    background: #7C5333;
    background: linear-gradient(179deg, rgba(124, 83, 51, 1) 0%, rgba(180, 139, 98, 1) 50%, rgba(216, 181, 138, 1) 100%);
    padding: 1.5vh;
} */

/* .navbar-collapse.show {
    background: #7C5333;
    background: linear-gradient(179deg, rgba(124, 83, 51, 1) 0%, rgba(180, 139, 98, 1) 50%, rgb(221, 184, 138) 100%);
    border-radius: 10px;
} */

/* .img-logo {
    width: 4rem;
    border-radius: 50%;
} */

@media (max-width: 660px) {
    .img-logo {
        width: 3.5rem;
    }
}

/* .navbar-toggler {
    color: #f3f4f5;
    background-color: transparent;
    border: solid white 2px;
    padding: 1vh;
}

.navbar-toggler:focus {
    border: solid white 2px;
} */

/* .navbar-nav .nav-link {
    color: white;
    font-size: 1.2rem;
    font-weight: 250;
    margin: 2vh;
    margin-left: 3vh;
    padding: 1vh;
    transition: all 0.13s ease-in-out !important;
} */


@media (max-width: 991px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}

/* .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: white (--bs-navbar-active-color);
    font-weight: 250;
} */

/* .navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    border: solid white 1px;
    border-radius: 10px;
} */

/*!--------main--------*/

/* main h1 {
    color: #7C5333;
    text-align: center;
    font-size: 10vh;
    font-weight: 400;
    margin: 7vh 2vh 5vh 2vh;
}

.hero p {
    color: black;
    font-size: 4vh;
    font-weight: 500;
    text-align: center;
}

main h2 {
    color: black;
    font-size: 4vh;
    font-weight: 500;
    text-align: center;
} */

/* .descripcion {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}

.descripcion p {
    border: solid rgba(180, 139, 98, 1) 2px;
    border-radius: 12px;
    color: #161515fb;
    font-size: 2.5vh;
    font-weight: 400;
    padding: 3%;
    margin: 2rem 0;
    text-align: center;
} */

/* main section h3 {
    color: #161515fb;
    font-size: 4vh;
    font-weight: 500;
} */

@media (max-width: 1100px) {
    main h1 {
        font-size: 6vh;
    }

    .hero p,
    main h2,
    main section h3 {
        font-size: 3vh;
    }

    .descripcion p {
        font-size: 2.4vh;
        margin-left: 5%;
        margin-right: 5%;
    }

}

@media (max-width: 960px) {
    .hero p {
        font-size: 2.8vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .descripcion p {
        font-size: 2.2vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 650px) {
    .hero p {
        font-size: 2.5vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    .descripcion p {
        font-size: 2vh;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 450px) {
    main h1 {
        font-size: 4.5vh;
    }

    main h2 {
        font-size: 2.8vh;
    }

    .descripcion p {
        text-align: justify;
    }

    main section h3 {
        font-size: 2.8vh;
    }
}

/* main section p {
    font-size: 2.3vh;
    margin: 5px;
    color: rgb(85, 83, 83);
} */

@media (max-width: 1100px) {
    main section p {
        font-size: 2vh;
        margin: 4px;
    }
}

/* main section a {
    font-weight: 700;
    font-size: 1.8vh;
    color: #7C5333;
    padding: 1vh;
    transition: all 0.3s ease;
}

main section a:hover {
    font-weight: 700;
    font-size: 1.8vh;
    color: white;
    background-color: #7C5333;
    border-radius: 14px;
} */


/* .img-articulo {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    padding: 1vh;
    margin: 3vh;
} */

/* 
.mensual,
.historia {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
    margin-top: 5%;
}

.mensual div,
.historia div {
    display: flex;
    width: 40%;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.campaña {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 8%;
}

.campaña div {
    display: flex;
    width: 40%;
    text-align: justify;
    flex-direction: column;
    align-items: center;
}

.mensual p,
.campaña p,
.historia p {
    padding: 1vh;
} */

@media (max-width: 850px) {

    .mensual,
    .campaña,
    .historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        padding: 0 1rem;
        box-sizing: border-box;
    }

    .mensual div,
    .campaña div,
    .historia div,
    .img-articulo {
        width: 90%;
        max-width: 500px;
    }
}

/*?--------grilla--------*/

/* .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
} */

@media (max-width: 660px) {
    .galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }
}

/* .card {
    position: relative;
    border: solid #B48B62 2px;
    width: 100%;
    max-width: 14rem;
}

.card-img-top {
    width: 100%;
    height: 50%;
    padding: 10px;
    border-radius: 14px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.2);
} */
/* 
.card-body {
    text-align: center;
}

.card-text {
    font-size: 12px;
}

.galeria .card .btn {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
} */



.card-body .btn-primary,
.mb-3 .btn-primary {
    /*del inspeccionador (propiedades que estaba aplicando bootstrap al color del boton)*/
    --bs-btn-color: white;
    --bs-btn-bg: #7C5333;
    --bs-btn-border-color: #7C5333;
    --bs-btn-hover-color: #7C5333;
    --bs-btn-hover-bg: ##7C5333;
    --bs-btn-hover-border-color: #7C5333;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: white;
    --bs-btn-active-bg: #7C5333;
    --bs-btn-active-border-color: #7C5333;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: white;
    --bs-btn-disabled-bg: #7C5333;
    --bs-btn-disabled-border-color: #7C5333;
}

button:focus:not(:focus-visible) {
    outline: #7C5333;
}

/*?--------formulario para publicar--------*/

/* .formularios {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}
 */

@media (max-width: 850px) {
    .formularios {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }
}

/* .was-validated {
    font-family: "Open Sans", sans-serif;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: solid #7C5333 1px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(115, 64, 20, 0.181);
} */

/* .img-logo2 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: 2s;
    transform: translateY(400px);

} */

/*Para modificar propiedades de Bootstrap*/
.form-check-input.is-invalid,
.was-validated .form-check-input:invalid {
    border-color: #161515fb;
}

.form-check-input.is-invalid~.form-check-label,
.was-validated .form-check-input:invalid~.form-check-label {
    color: #7C5333;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    border-color: #7C5333;
}

.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: #7C5333;
    box-shadow: none;
}

.invalid-feedback {
    color: rgba(169, 53, 53, 0.898);
    font-style: italic;
}

/* @keyframes rebote {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-20px);
    }
}

.rebota {
    animation: rebote 2s ease forwards;
    animation-iteration-count: 2
} */


/*?------Página Colaborá------*/

/* .mensaje-colabora p {
    font-size: 2.5vh;
    margin: 2.5vh 6vh;
    padding: 2vh 4vh;
    text-align: center;
} */

@media (max-width: 850px) {
    .mensaje-colabora p {
        font-size: 2vh;
        margin: 2vh 4vh;
        padding: 1.5vh 2vh;
    }
}

@media (max-width: 850px) {
    .mensaje-colabora p {
        text-align: justify;
    }
}

/* .donaciones h2 {
    font-size: 5vh;
    color: #7C5333;
}

.donaciones {
    text-align: center;
} */

@media (max-width: 850px) {
    .donaciones h2 {
        font-size: 3vh;
    }

    .donaciones p {
        margin: 2vh;
    }
}


.donaciones ul li {
    list-style: none;
}

/*!--------footer--------*/

/* footer {
    background: #7C5333;
    background: linear-gradient(179deg, rgba(124, 83, 51, 1) 0%, rgba(180, 139, 98, 1) 50%, rgb(221, 177, 123) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 3vh;
}

footer a img {
    width: 2.8em;
    padding: 1vh;
}

footer p {
    color: #faebd7;
    font-size: 2.5vh;
    font-weight: 600;
    padding-top: 2vh;
    padding-left: 2vh;
}
 */

@media (max-width: 900px) {
    footer {
        padding: 1vh 1.5vh;
    }

    footer a img {
        width: 2.2em;
        padding: 1vh
    }

    footer p {
        font-size: 2vh;
        padding-top: 1vh;
        padding-left: 1vh;
    }
}

@media (max-width: 650px) {
    footer {
        padding: 0.7vh 1.2vh;
    }

    footer a img {
        width: 2em;
        padding: 0.7vh
    }

    footer p {
        font-size: 2vh;
        padding-top: 0.7vh;
        padding-left: 0.7vh;
    }
}