footer {
    background: $color-principal;
    background: $gradiente;
    @include flex (flex, center, start);
    flex-direction: column;
    padding: 2vh 3vh;

    p {
        color: $color-enlaces;
        font-size: 2.5vh;
        font-weight: nth($font-weight, 4);
        padding-top: 2vh;
        padding-left: 2vh;
    }

    div {
        a {
            img {
                width: 2.8em;
                padding: 1vh;
            }
        }
    }
}