.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: 1fr;
    gap: 2rem;
    padding: 2rem;
}

.card {
    position: relative;
    border: solid $color-bordes 1px;
    width: 100%;
    max-width: 14rem;

    .card-img-top {
        width: 100%;
        height: 50%;
        padding: 10px;
        border-radius: 14px;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.2);
        }
    }
}


.card-body {
    text-align: center;

    .card-text {
        font-size: 12px;
    }

    .btn-primary {
        position: absolute;
        bottom: 12px;
        left: 50%;
        transform: translateX(-50%);
    }
}


.card-body .btn-primary,
.mb-3 .btn-primary {
    /*del inspeccionador (propiedades que estaba aplicando bootstrap al color del boton)*/
    --bs-btn-color: $color-enlaces;
    --bs-btn-bg: $color-principal;
    --bs-btn-border-color: $color-principal;
    --bs-btn-hover-color: $color-principal;
    --bs-btn-hover-bg: $color-principal;
    --bs-btn-hover-border-color: $color-principal;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: $color-enlaces;
    --bs-btn-active-bg: $color-principal;
    --bs-btn-active-border-color: $color-principal;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: $color-enlaces;
    --bs-btn-disabled-bg: $color-principal;
    --bs-btn-disabled-border-color: $color-principal;
}