header {
    top: 0;
}

nav {
    background: $gradiente;
    padding: 1.5vh;

    div {
        a {
            img {
                width: 4rem;
                border-radius: 50%;
            }
        }

        .navbar-toggler {
            color: $color-enlaces;
            background-color: transparent;
            border: solid white 2px;
            padding: 1vh;

            &:focus {
                border: solid white 2px;
            }
        }


        div {
            ul {
                li {
                    .nav-link {
                        color: $color-enlaces;
                        font-size: 1.2rem;
                        font-weight: nth($font-weight, 1);
                        margin: 2vh;
                        margin-left: 3vh;
                        padding: 1vh;
                        transition: all 0.13s ease-in-out !important;

                        &:hover,
                        &:focus {
                            color: $color-enlaces;
                            font-weight: nth($font-weight, 2);
                            text-shadow: 0 0 5px #fff, 0 0 10px #fff;
                        }
                    }
                }
            }
        }
    }
}



.navbar-collapse.show {
    background: $gradiente;
    border-radius: 10px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: $color-enlaces (
        --bs-navbar-active-color
    );
font-weight: nth($font-weight, 1);
}