h1 {
    color: $color-principal;
    text-align: center;
    font-size: 10vh;
    font-weight: nth($font-weight, 2);
    margin: 7vh 2vh 5vh 2vh;
}

.hero,
h2 {
    color: $color-secundario;
    font-size: 4vh;
    font-weight: nth($font-weight, 3);
    text-align: center;
}

.descripcion {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;

    p {
        border: solid $color-bordes 2px;
        border-radius: 12px;
        color: $color-secundario;
        font-size: 2.5vh;
        font-weight: nth($font-weight, 2);
        padding: 3%;
        margin: 2rem 0;
        text-align: center;
    }
}

.mensual,
.campaña,
.historia {
    div {
        width: 40%;
        text-align: justify;
        flex-direction: column;
        @include flex (flex, center, center);

        h3 {
            color: $color-secundario;
            font-size: 4vh;
            font-weight: nth($font-weight, 3);
        }

        p {
            font-size: 2.3vh;
            margin: 5px;
            color: $color-texto-notas;
            padding: 1vh;
        }

        a {
            font-weight: nth($font-weight, 5);
            font-size: 1.8vh;
            color: $color-principal;
            padding: 1vh;
            transition: all 0.3s ease;

            &:hover {
                font-weight: nth($font-weight, 5);
                font-size: 1.8vh;
                color: $color-enlaces;
                background-color: $color-principal;
                border-radius: 14px;
            }
        }
    }
}

.mensual,
.historia {
    @include flex (flex, center, center);
    margin-bottom: 8%;
    margin-top: 5%;
}

.campaña {
    @include flex (flex, center, center);
    flex-direction: row-reverse;
    margin-bottom: 8%;
}

.img-articulo {
    width: 30%;
    height: 250px;
    border-radius: 20px;
    padding: 1vh;
    margin: 3vh;
}

.mensaje-colabora {
    p {
        @extend %texto-gral;
    }
}

.donaciones {
    text-align: center;

    h2 {
        font-size: 5vh;
        color: $color-principal;
    }

    p {
        font-size: 2.5vh;
        margin: 2.5vh 6vh;
        padding: 2vh 4vh;
        text-align: center;
    }

    ul {
        li {
            list-style: none;
            text-align: center;
        }
    }
}