//*variables

$color-principal: #7C5333;
$color-secundario: black;
$color-terciario: #161515fb;
$color-text: rgb(85, 83, 83);


//*lista
$font-weight:
250,
400,
500;

@mixin flex ($display, $align-items, $justify-content){
    display: $flex;
    align-items: $align;
    justify-content: $justify;
}

